.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr 300px;
    grid-template-rows: 80px 1fr 1fr 60px;
    grid-template-areas: 
        "header header header"
        "sidebar main widget1"
        "sidebar main widget2"
        "footer footer footer";
    gap: 15px;
    justify-items: center;
    align-items: center;
    min-height: 600px;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.widget1 {
    grid-area: widget1;
}

.widget2 {
    grid-area: widget2;
}